<div class="card list-group-item list-group-item-action ">
  <div class="card-body mb-3">
    <h5 class="card-title">{{ this.name }}            {{ this.stage }}</h5>
    <p class="card-text">{{ this.location }}</p>
    <p class="card-text">{{ this.squaremeter }}</p>
    <p class="card-text">{{ this.stage }}</p>
  </div>
</div>




